<html>
  <head>
    <!--  probably import some CSS stylesheet here at some point -->
    <script src="../thermostat.js"></script>
    <script src="../thermostatFunctions.js"></script>
  </head>
  <body>
    <span id="temperature-display">
      20 C
    </span>
    <button onclick="thermostatUp()">Up</button> <!--  calls the up function -->
    <button onclick="thermostatDown()">Down</button> <!--  calls the down function -->
    <br>
    <div id="power-saving-button">
      <p><span id="on-display" style="color: green;">On</span>  <span id="off-display">Off</span></p>
      <button onclick="isPowerSaving()">Power Saving Mode</button>
    </div>

    <div id="energy-usage-display">
      <p><span id="low-usage">Low</span>  <span id="med-usage" style="color: orange;">Med</span> <span id="high-usage">High</span></p>
      <p>Energy Usage</p>
    </div>
  </body>
</html>